<input ng-change='showListCtrl.startSearch()' ng-model='searchField' type="text" name="searchField" id="searchField"
    placeholder="Search Shows (provide 3 characters atleast)">
</div>
<div id='searchedShows' ng-show='searchSuccess'>
    <label class='navbar navbar-expand-lg navbar-light bg-light'>Searched Shows</label>
    <span ng-repeat='show in searchList'>
        <show-card></show-card>
    </span>

</div>

<div>
    <div ng-repeat='genre in genreFilteredShows'>
        <label class='navbar navbar-expand-lg navbar-light bg-light'>{{genre.label}}</label>
        <div class='card-group'>
            <span ng-repeat='show in genre.shows'>
                <show-card></show-card>
            </span>
        </div>
    </div>
</div>
