<div class='container'>
    <label class='navbar-brand'>{{showDetail.name}}</label>
    <div class='row'>
        
        <div class='col-md-3'>
            <div class="card" style="width: 15rem;" ui-sref='Show({id: showDetails.id})'>
                <img class="card-img-top" src="{{showDetail.image.medium}}" alt="Card image cap">
              </div>
        </div>
        <div class=col-md-6>
            <p class="card-text justify" ng-bind-html='showDetail.summary'></p>
        </div>
        <div class='col-md-3'>
            <div class="card">
                <div class="card-header">
                  Show Info
                </div>
                <div class="card-body">
                  <label><b>Language:</b></label><label> {{showDetail.language}}</label>
                  <label><b>Show Type:</b></label><label> {{showDetail.type}}</label>
                  <label><b>Schedule:</b></label><label> {{showDetail.schedule.days.toString()}} at {{showDetail.schedule.time}}</label>
                  <label><b>Genres:</b></label><label> {{showDetail.genres.toString()}}</label>
                  <label><b>Rating:</b></label><label> {{showDetail.rating.average}}/10</label>
                
                </div>
              </div>
        </div>
    </div>
    <div class="row">Hello</div>
</div>